
/*@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');*/


html, body{
  margin: 0;
  padding: 0;
  /*overflow: scroll;*/
  min-height: 100%;
}

::-webkit-scrollbar {
  /*width: 0;
  background: transparent;*/
 display: none;
}

.Row{
  display: flex;
  flex-wrap: nowrap;
  width: 100%;
  overflow: hidden;
}

.App {
  margin-left: 90px;
}

.Wrap{
  display: flex;
  flex-wrap: wrap;
}

.Wrap-Vertical{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 14px 10px 14px;
}

.Scenes, .Security, .Activity, .Rooms{
  margin: 0;
}

.Scenes, .Security, .Activity{
 width: 529px;
 min-height: 480px;
}

.Devices, .Rooms{
  margin-left: -4px;
}

.Rooms{
  margin-bottom: 10px;
}

.Camera-Btn{
  width: 190px;
  height: 280px;
  min-width: 190px;
  background: radial-gradient(circle at 50% 40%, rgba(242,242,242,1) 0%, rgba(111,117,121,1) 130%);
  box-shadow: 1px 2px 6px rgba(0,0,0,0.5);
  text-align: center;
  font-size: 30px;
  transition: transform .2s ease;
  margin: 10px 15px;
}

.Camera-Btn:focus{
  box-sizing: border-box;
  outline: none;
  border: 4px solid #DA2A1D;
  transform: scale(1.05);
  transition: transform .25s ease;
}


.Camera-Btn img {
  height: 55px;
  margin-top: 70px;
  margin-bottom: 30px;
}

h3 {
  font-size: 30px;
  font-weight: 400;
  color: #1a1a1a;
  margin: 20px;
}

.Overview{
  margin-top: 120px;
  margin-left: 60px;
}

.Alert{
  position: fixed;
  top: 50%;
  left: 0;
  right: 0;
  width: 60%;
  min-width: 1000px;
  min-height: 200px;
  margin: auto;
  background-color: #DA2A1D;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 1px 2px 6px rgba(0,0,0,0.5);
  transform: translate(0, -50%) scaleY(0) ;
  transform-origin: center;
  transition: transform .2s ease;
}

.Warning-Icon{
  height: 128px;
  margin-left: 25px;
  margin-right: auto;
  position: absolute;
  left: 25px;
}

.Alert-Btn{
  color: white;
  font-size: 24px;
  border: 2px solid white;
  padding: 10px 25px;
  outline: none;
  width: 256px;
  text-align: center;
  margin-bottom: 20px;
  margin-top: 30px;
  cursor: pointer;
  margin-left: -150px;
}

.Alert-Wrap{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: calc(100% - 250px);
  height: 100%;
  padding-left: 150px;
}

.Alert-Title{
  color: white;
  font-size: 36px;
  margin: 0;
  margin-top: 25px;
  margin-bottom: 25px;
  margin-left: -150px;
}

.Alert-Msg{
  color: white;
  font-size: 20px;
  text-align: justify;
  min-width: 55%;
}

.hide{
  transform: translateY(100%);
}

.show {
  transform: translateY(0%);
}

.show-alert{
  transform: translate(0, -50%) scale(1);
  transform-origin: center;
}

.spinner{
  height: 100vh;
  transform: translateY(35%);
}

.spinner p{
  text-align: center;
  font-size: 2rem;
  color: #999999;
  margin-top: 100px;
}

.sk-folding-cube {
  margin: 20px auto;
  width: 150px;
  height: 150px;
  position: relative;
  transform: rotateZ(45deg);
}

.sk-folding-cube .sk-cube {
  float: left;
  width: 50%;
  height: 50%;
  position: relative;
  transform: scale(1.1); 
}
.sk-folding-cube .sk-cube:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #333;
  animation: sk-foldCubeAngle 2.4s infinite linear both;
  transform-origin: 100% 100%;
}
.sk-folding-cube .sk-cube2 {
  transform: scale(1.1) rotateZ(90deg);
}
.sk-folding-cube .sk-cube3 {
  transform: scale(1.1) rotateZ(180deg);
}
.sk-folding-cube .sk-cube4 {
  transform: scale(1.1) rotateZ(270deg);
}
.sk-folding-cube .sk-cube2:before {
  animation-delay: 0.3s;
}
.sk-folding-cube .sk-cube3:before {
  animation-delay: 0.6s; 
}
.sk-folding-cube .sk-cube4:before {
  animation-delay: 0.9s;
}
@-webkit-keyframes sk-foldCubeAngle {
  0%, 10% {
    transform: perspective(140px) rotateX(-180deg);
    opacity: 0; 
  } 25%, 75% {
    transform: perspective(140px) rotateX(0deg);
    opacity: 1; 
  } 90%, 100% {
    transform: perspective(140px) rotateY(180deg);
    opacity: 0; 
  } 
}

@keyframes sk-foldCubeAngle {
  0%, 10% {
    transform: perspective(140px) rotateX(-180deg);
    opacity: 0; 
  } 25%, 75% {
    transform: perspective(140px) rotateX(0deg);
    opacity: 1; 
  } 90%, 100% {
    transform: perspective(140px) rotateY(180deg);
    opacity: 0; 
  }
}

.Info-Message{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.Info-Message div{
  color: #737373;
  font-size: 20px;
  margin: 10px 20px 0 20px;
  text-align: center;
}

.Info-Message div:last-child{
  border-top: 1px solid #bfbfbf;
  margin-bottom: 20px;
  padding: 4px 25px;
  width: fit-content;
}
