
.Item {
    width: 235px;
    height: 150px;
    background-color: #f2f2f2;
    box-shadow: 1px 2px 6px rgba(0,0,0,0.5);
    margin: 10px;
    text-align: center;
    cursor: pointer;
    transition: transform .3s ease;
}

.Item img {
    height: 50px;
    margin: 20px;
}

.Item p {
    font-size: 24px;
    margin: 0;
    color: #1a1a1a;
}

.InfoMessage{
    margin: 0 auto;
    width: 55%;
    margin-top: 25px;
    text-align: center;
    color: #737373;
    font-size: 20px;
    line-height: 30px;
}

.Item hr {
    width: 60%;
    height: 6px;
    background-color: #6395AD;
    border: none;
    margin-top: 6px;
    animation: createBox .25s;
}

@keyframes createBox {
    from {
      transform: scale(0);
    }
    to {
      transform: scale(1);
    }
  }

.Item:focus{
    box-sizing: border-box;
    outline: none;
    border: 4px solid #DA2A1D;
    transform: scale(1.1);
    transition: transform .4s ease;
}

.Item:focus hr {
    margin-top: 1px;
}

.AlertMenu{
    position: fixed;
    height: 100vh;
    width: 100vw;
    left: 0;
    top: 0;
    background-color: #e0e0e0;
    text-align: center;
    transition: transform .3s ease;
}

.AlertPanel{
    margin: auto;
    background-color: #f2f2f2;
    font-size: 24px;
    text-align: left;
    box-shadow: 1px 2px 6px rgba(0,0,0,0.5);
    width: 60%;
    outline: none;
}

.AlertRow{
    display: flex;
    align-items: center;
    margin: 0 20px;
    border-bottom: 1px solid #979797;
    outline: none;
}

.AlertRow:last-child{
    border: none;
}

.AlertRow img{
    height: 32px;
    margin-left: 15px;
}

.AlertRow p{
    margin: 0;
    color: #1a1a1a;
    margin: 25px;
}

.Title{
    color: #1a1a1a;
    margin: 50px;
    font-size: 48px;
    margin-top: 120px;
    font-weight: 500;
}

.Alert{
    background-color: #DA2A1D;
}

.Alert p {
    color: #f2f2f2 !important;
}

.Back{
    height: 64px;
    width: 60px;
    position: absolute;
    left: 100px;
    top: 250px;
    outline: none;
}