
.Tabs{
    display: flex;
    font-size: 30px;
  }
  
  .Tab p{
    margin: 0 15px;
    padding: 0 20px 5px 20px;
  }

  .Tab{
    transition: transform .4s ease;
  }

  .Tab:focus{
    outline: none;
    transform: scale(1.05);
    transition: transform .3s ease;
  }
  
  .Tabs .Active{
    border-bottom: 6px solid #DA2A1D;
  }