

.Item {
    height: 280px;
    width: 500px;
    background-color: #f2f2f2;
    transition: transform .3s ease;
    position: relative;
    box-shadow: 1px 2px 6px rgba(0,0,0,0.5);
    margin: 10px 14px;
}

.Item:focus{
    box-sizing: border-box;
    outline: none;
    border: 4px solid #DA2A1D;
    transform: scale(1.05);
    transition: transform .4s ease;
}

.Background {
    height: 100%;
    width: 100%;
}

.Shadow {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 64px;
    background: linear-gradient(180deg, rgba(0,0,0,0.7) 0%, rgba(255,255,255,0) 100%);
}

.Name{
    position: absolute;
    top: 0;
    left: 0;
    font-size: 30px;
    color: #ebebeb;
    margin: 0;
    padding-left: 20px;
    padding-top: 20px;
}

.Movement {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 40px;
    font-size: 20px;
    color: #4d4d4d;
    margin: 0;
    background-color: #d8d8d8;
    line-height: 40px;
    display: flex;
    align-items: center;
}

.Movement p {
    margin: 0 15px;
}

.Movement img {
    height: 10px;
    width: 18px;
    margin-left: 15px;
}

.EnvWrap{
    position: absolute;
    right: 14px;
    top: 17px;
    display: flex;
    flex-direction: column;
}

.Environment{
    width: 112px;
    text-align: center;
    height: 38px;
    background-color: #6395AD;
    color: #ebebeb;
    font-size: 24px;
    margin: 0px;
    line-height: 38px;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.Environment p {
    margin: 0;
}

.Environment img {
    fill: #ebebeb;
    height: 25px;
    margin: 0 10px;
}

.Wrap {
    display: flex;
    flex-direction: column;
}

.ContWrap{
    height: 100%;
}