
.Item{
    width: 500px;
    height: 110px;
    background-color: #f2f2f2;
    box-shadow: 1px 2px 6px rgba(0,0,0,0.5);
    cursor: pointer;
    transition: transform .3s ease;
    /*margin: 10px 14px;*/
    margin: 10px 0;
}

.Item:focus, .StateBtn:focus, .ColorItem:focus, .BrightnessItem:focus{
    box-sizing: border-box;
    outline: none;
    border: 4px solid #DA2A1D;
    transform: scale(1.05);
    transition: transform .4s ease;
}

.Active{
    box-sizing: border-box;
    outline: none;
    border: 4px solid #DA2A1D;
    transform: scale(1.05);
}

.Menu{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    z-index: 999;
    box-shadow: 1px 2px 6px rgba(0,0,0,0.5);
}

.Name{
    font-size: 24px;
    color: #1a1a1a;
    margin-left: 10px;
}

.Wrap{
    display: flex;
    align-items: center;
    height: 100%;
}

.Icon{
    margin: 0 25px;
}

.Arrow{
    margin-left: auto;
    width: 94px;
    height: 81px;
    text-align: center;
    border-left: solid 1px #888888;
}

.Arrow img{
    padding-top: 20px;
}


.LightMenu{
  position: fixed;
  height: 100vh;
  width: 100vw;
  left: 0;
  top: 0;
  background-color: #e0e0e0;
  text-align: center;
  transition: transform .3s ease;
}


.ColorItem, .BrightnessItem{
    height: 152px;
    width: 152px;
    margin: 20px;
    transition: transform .3s ease;
    box-shadow: 1px 2px 6px rgba(0,0,0,0.5);
}

.White{
    background-color: #F2F2F2;
}

.Red{
    background-color: #AF1313;
}

.Orange{
    background-color: #F2B329;
}

.Yellow{
    background-color: #F9FF05;
}

.Green{
    background-color: #20DE04;
}

.Azure{
    background-color: #14EDE2;
}

.Blue{
    background-color: #0D17CA;
}

.Magenta{
    background-color: #F317B3;
}

.StateBtn{
    position: relative;
    width: 400px;
    height: 110px;
    background-color: #f2f2f2;
    margin: 25px 50px;
    display: flex;
    align-items: center;
    text-align: center;
    transition: transform .3s ease;
    box-shadow: 1px 2px 6px rgba(0,0,0,0.5);
}


.StateBtn p{
    height: 26px;
    font-size: 24px;
    width: 100%;
    margin-left: -82px;
}

.StateBtnWrap, .BrightnessWrap, .ColorWrap{
    display: flex;
    width: 100%;
    justify-content: center;
    margin-bottom: 50px;
}

.Ten{
    background-color: #424242;
}


.Twentyfive{
    background-color: #727272;
}


.Fifty{
    background-color: #a2a2a2;
}


.Seventyfive{
    background-color: #c2c2c2;
}


.Hundered{
    background-color: #f2f2f2;
}


.BrightnessItem{
    font-size: 24px;
    text-align: center;
    line-height: 152px;
}

.Title{
    font-size: 48px;
    font-weight: 500;
    color: #1a1a1a;
    margin: 50px;
    margin-top: 100px;
}

.State{
    margin-left: auto;
    width: 94px;
    height: 81px;
    text-align: center;
    border-left: solid 1px #888888;
}

.State p{
    font-size: 24px;
}

.Technology{
    font-size: 14px;
    color: #666666;
    padding-top: 10px;
    font-style: italic;
}

.Back{
    height: 64px;
    width: 60px;
    position: absolute;
    left: 100px;
    top: 265px;
    outline: none;
}